@use 'mixin';

// list-style 定義
$list-styles-ul: (
    list1: disc,
    list2: circle,
    list3: square
);

$list-styles-ol: (
    list1: decimal,
    list2: lower-roman,
    list3: lower-alpha
);

body {
    // ul
    @each $name, $style in $list-styles-ul {
        ul.#{$name} {
            list-style-type: $style;
        }
    }

    // ol
    @each $name, $style in $list-styles-ol {
        ol.#{$name} {
            list-style-type: $style;
        }
    }

    .noticeWikiRemoval__icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: 2.5em;
        height: 2.5em;
        margin: 0 1em 0 -0.8em;

        svg {
            width: 100%;
            height: 100%;
            fill: currentColor;
            transform: translateX(-4%);
        }
    }

    .noticeWikiRemoval__text {
        min-width: 0;
        word-break: break-word;
        line-height: 1.5;

        a {
            color: #842029;
            text-decoration: underline;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: #58151c;
            }
        }
    }

    &:not(.wiki-font) {
        font-family: Noto Sans Japanese, sans-serif !important;
        @include mixin.snowly(normal);

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        ul {
            &:not(#p-footer-nav, #menu-list) {
                display: block;
                list-style-type: disc;
                margin-block: 1em;
                padding-inline-start: 40px;
                unicode-bidi: isolate;
            }

            &#menu-list {
                list-style: none;
            }
        }

        aside {
            display: block;
            unicode-bidi: isolate;
        }

        a:not(.AdSupport__link) {
            color: #ef8688;
            text-decoration: underline;
        }

        li {
            display: list-item;
            unicode-bidi: isolate;
        }
    }

    .pEntry__header {
        margin-bottom: 25px;

        h1 {
            background-color: #eaeaea;
            background-image: url("https://sakitibi.github.io/AsakuraWiki-Images/dot_white2.png");
            color: #6a6a6a;
            font-size: 20px;
            font-weight: 700;
            padding: 15px;
            text-align: center;
        }
    }

    .p-entry__content {
        color: #444;
        font-size: 13px;

        .danger_list {
            color: red !important;
        }

        @media (min-width: 992px) {
            font-size: 16px;
        }

        > h2 {
            background-color: #f6f6f6;
            font-size: 16px;
            margin: 20px 0 10px;
            padding: 15px 10px;
        }
    }
    @media (min-width: 768px) {
        .container,
        .container-md,
        .container-sm {
            max-width: 720px;
        }
    }

    @media (min-width: 576px) {
        .container,
        .container-sm {
            max-width: 540px;
        }
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        $bs-gutter-x: 1.5rem;

        width: 100%;
        margin-inline: auto;
        padding-inline: calc($bs-gutter-x * .5);
    }

    &.wiki-font {
        font-family: Verdana, Arial, "Hiragino Sans", Meiryo, sans-serif !important;
        font-size: 12px;
        @include mixin.background;

        $columns: (
            columnCenter: 2,
            columnLeft: 1,
            columnRight: 3
        );

        @each $key, $num in $columns{
            .#{$key}{
                grid-column: $num / span 1;
                grid-row: 1 / span 1;
            }
        }

        &:not(.pink, .blue, .yellow, .purple) {
            @include mixin.menubar(#d1f0a0);
        }

        &.pink {
            @include mixin.menubar(#feeef6);
        }

        &.blue {
            @include mixin.menubar(#f0f8ff);
        }

        &.yellow {
            @include mixin.menubar(#fffbed);
        }

        &.purple {
            @include mixin.menubar(#e9d7f3);
        }

        hr {
            height: 1px;
            background-color: #777;
            border: 0;
            margin-block: 0.5em;
        }

        & .container-wrapper {
            background-color: #fff;
            border: 1px solid #ccc;
            margin: 0 auto;
            max-width: 930px;
            min-width: 930px;
            text-align: left;
        }
    }
}

@media screen and (min-width: 820px) {
    body.wiki-font .container-wrapper {
        min-width: 930px;
        max-width: 930px;
    }
}