.collapse:not(.show) {
    display: none
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
    &.collapse-horizontal {
        height: auto;
        transition: width .35s ease;
        width: 0
    }
}

@media(prefers-reduced-motion:reduce) {
    .collapsing {
        transition: none;
        &.collapse-horizontal {
            transition: none
        }
    }
}