$footer_color: (
    "default": #d1f0a0,
    "pink": "#fad6e7",
    "blue": "#cce3f8",
    "yellow": "#feeaa4",
    "purple": "#e9d7f3",
);

@each $key, $color in $footer_color{
    .footer_#{$key}{
        background-color: #{$color};
        border: 1px solid #000;
        color: #000;
        font-size: 80%;
        padding: 2px 9px;
    }
}