// サイズ定義
$marquee-sizes: (
    xl: 1300%,
    md: 1000%,
    sm: 700%
);

// アニメーション定義
$marquee-types: (
    once: 0%,
    default: -100%,
    alternate: -100%
);

// Base
.marqueeBase {
    display: inline-block;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

// keyframes 生成
@each $size, $start in $marquee-sizes {
    @each $type, $end in $marquee-types {
        @keyframes scroll-#{$type}-#{$size} {
            0% {
                transform: translateX(#{$start});
            }
            100% {
                transform: translateX(#{$end});
            }
        }
    }
}
