@mixin buttonic{
    background-color: #efefef;
    border: 1px solid #aaa;
    border-radius: .25em;
    color: #000;
    cursor: pointer;
    font-family: Verdana, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    padding: .375em 1em;
}

ecraftMetro {
    #body {
        overflow-x: visible;
        padding-left: 20px;
        padding-right: 20px;
    }

    div#title {
        background-color: #d1f0a0;
        border: 1px solid #afd965;
        margin: 0 0 .5em;
        padding: .5em;
    }

    h1.title {
        color: #000;
        font-size: 1.33em;
        font-weight: 700;
        margin: .2em 0 .2em .5em;
        background-color: transparent;
    }

    #content .center {
        text-align: center;
    }

    .navfold-container {
        &.navfold-open > .navfold-summary .navfold-icon-close {
            display: none;
        }

        &:not(.navfold-open) > {
            .navfold-content, .navfold-summary .navfold-icon-open {
                display: none;
            }
        }

        .navfold-content {
            padding-left: 14px;
        }

        .navfold-summary {
            background: none;
            border: none;
            color: inherit;
            display: inline-flex;
            flex-flow: row nowrap;
            padding: 4px 2em 4px 0;
            text-align: left;

            .navfold-summary-icon {
                margin-right: 2px;
            }

            &:hover {
                background: none;
                -webkit-text-decoration: underline;
                text-decoration: underline;
            }
        }
    }

    button, input {
        line-height: normal;
    }

    button {
        @include buttonic;
    }

    input {
        &[type=button], &[type=submit] {
            @include buttonic;
        }
    }

    button, select {
        text-transform: none;
    }

    button, input {
        overflow: visible;
    }

    button, input, optgroup, select, textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }

    svg {
        &:not(:root).svg-inline--fa, &:not(:host).svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        }
    }

    .fa-fw {
        text-align: center;
        width: 1.25em;
    }

    .fa-xs {
        font-size: 0.75em;
        line-height: 0.0833333337em;
        vertical-align: 0.125em;
    }

    .svg-inline--fa {
        display: inline-block;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;

        &.fa-xs {
            vertical-align: 0em;
        }

        &.fa-fw {
            width: var(--fa-fw-width, 1.25em);
        }
    }

    .clearfix:after {
        clear: both;
        content: "";
        display: block;
    }

    .h-scrollable {
        overflow-x: auto;
        text-align: left;
    }

    table {
        border: 0;
        border-collapse: collapse;
        padding: 0;
        text-align: left;
        td {
            border: 1px solid #a9a9a9;
            color: inherit;
            margin: 1px;
            padding: 3px;
            background-color: #fff;
        }

        th {
            border: 1px solid #a9a9a9;
            color: inherit;
            margin: 1px;
            padding: 3px;
            background-color: #d1f0a0;
            text-align: center;
        }
    }

    pre {
        word-wrap: normal;
    }

    table {
        td, th {
            word-wrap: normal;
        }
    }

    h2, h3, h4, h5, h6, pre, td, th {
        font-size: 1em;
    }
}