@media (min-width: 640px) {
    .sm\:leading-none {
        line-height: 1;
    }
}

@media (min-width: 640px) {
    .sm\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
}

@media (min-width: 768px) {
    .md\:ml-0 {
        margin-left: 0;
    }
}