@use 'marquee-media';

.marqueeBase {
    display: inline-block;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* スライド（1回動作想定） */
@keyframes scroll-slide-once {
    0% {
        transform: translateX(1400%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* 通常スクロール（左に流れる） */
@keyframes scroll-default {
    0% {
        transform: translateX(1400%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 往復スクロール */
@keyframes scroll-alternate {
    0% {
        transform: translateX(1400%);
    }
    100% {
        transform: translateX(-100%);
    }
}