.noticeWikiRemoval {
    margin: 52px auto 16px;
}

.noticeWikiRemoval, .noticeWikiRemovalRelated {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 2rem);
    max-width: 800px;
    margin: 16px auto;
    padding: 0.75rem 1.75rem;
    border: 1px solid #f5c2c7;
    border-radius: 0.25rem;
    font-family: sans-serif;
    background-color: #f8d7da;
    color: #842029;
}

.notice-wiki-removal__overlay-icon {
    display: block;
    margin: 24px auto 0;
    width: 300px;
    height: auto;
    opacity: 0.2;
    fill: #6c757d;
}

.noticeWikiRemoval__target {
    background: linear-gradient(to bottom, transparent 60%, #f3bfc5 60%);
    font-weight: bold;
}