.timetables{
    .hour{
        color: #666;
        font-size: 18px;
        font-weight: 700;
        min-width: 43px;
        padding: 24px 0;
        text-align: center;
    }
    .contents{
        border-left: 1px solid #bebebe;
        flex-grow: 1;
        .operation_frame{
            min-height: 64px;
            padding: 7px 20px 5px;
            .time_frame{
                display: inline-block;
                height: 53px;
                margin-bottom: 10px;
                position: relative;
                width: 62px;
                .time{
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 16px;
                    padding-bottom: 1px;
                    text-decoration: underline;
                }
                .bound_for{
                    bottom: 0;
                    position: absolute;
                }
            }
        }
    }
    .local{
        color:black;
    }
    .rapid{
        color:orange;
    }
    .special_rapid{
        color: rgb(34, 89, 229);
    }
    border-bottom: 1px solid #bebebe;
    display: flex;
}