ul {
    &.list1 {
        list-style-type: disc !important;
    }
    &.list3 {
        list-style-type: square !important;
    }
    list-style-type: circle;
}

.marqueeSlide {
    display: inline-block;
    animation: scroll-slide-once 5s ease-in-out 1 forwards;
}

.marqueeDefault {
    display: inline-block;
    animation: scroll-default 10s linear infinite;
}

@keyframes scroll-slide-once {
    0% {
        transform: translateX(1400%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scroll-default {
    0% {
        transform: translateX(1400%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 999px) and (min-width: 700px) {
    .marqueeSlide,
    .marqueeDefault {
        @keyframes scroll-slide-once {
            0% {
                transform: translateX(1000%);
            }
            100% {
                transform: translateX(0%);
            }
        }
        @keyframes scroll-default {
            0% {
                transform: translateX(1000%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }
}

@media (max-width: 699px) {
    .marqueeSlide,
    .marqueeDefault {
        @keyframes scroll-slide-once {
            0% {
                transform: translateX(700%);
            }
            100% {
                transform: translateX(0%);
            }
        }
        @keyframes scroll-default {
            0% {
                transform: translateX(700%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
    }
}