$link-color: #00a173;

#appTitle{
    border: 0;
    font-size: 44px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#appDeveloper{
    color: #00a173;
    text-decoration: none;
}

#appIconContainer{
    display: flex;
    gap: 20px;
    &::before{
        content: "";
        display: block;
    }
}

#installButton{
    display: inline-flex;
    color: rgb(32, 33, 36) !important;
    cursor: pointer;
    background-color: $link-color !important;
    align-items: center;
    min-width: 160px;
    min-height: 36px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 16px 0 16px;
    transition: border .28s cubic-bezier(.4, 0, .2, 1), box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    box-shadow: none;
}

.developersApplinks{
    display: inherit !important;
    color: $link-color !important;
    text-decoration: none !important;
    flex: 1;
    margin: 0 10px;
    text-align: center !important;
}

@media screen and (min-width: 600px) {
    #appIconContainer::before {
        width: 72px !important;
    }
}