@use 'top/mixin';
@use 'top/button';
@use 'wiki/marquee';
@use 'top/body';
@use 'wiki/MinecraftMetro';
@use 'top/collapsing';
@use 'top/alert';
@use 'top/mb';
@use 'top/list';
@use 'top/list-group';
@use 'wiki/size';
@use 'top/section';
@use 'wiki/footer';
@use 'wiki/header';

input:not([type=submit],[type=checkbox]) {
    width: 100%;
}

a, a:active, a:focus, a:hover {
    color: #ef8688;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
a {
    color: #337ab7;
}

@keyframes bg-color{
    from{
        background-position: 0% 0%;
    }
    12.5%{
        background-position: 75% 0%;
    }
    25%{
        background-position: 150% 0%;
    }
    37.5%{
        background-position: 225% 0%;
    }
    50%{
        background-position: 300% 0%;
    }
    67.5%{
        background-position: 225% 0%;
    }
    75%{
        background-position: 150% 0%;
    }
    87.5%{
        background-position: 75% 0%;
    }
    to{
        background-position: 0% 0%;
    }
}

header{
    text-align: center;
}

$spacers: (
    0: 0,
    1: .25rem,
    2: .5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem
);

@include mb.generate-mb-utility($spacers);