@use "sass:map";
@use "../../variables";

/* =========================================
* Fonts
* ====================================== */

@each $font in variables.$minecraft-fonts {
    @font-face {
        font-family: map.get($font, name);
        src: map.get($font, src);
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
}

/* =========================================
* Typography – Heading
* ====================================== */

.MC_Core_HeadingStyle {
    .MC_Layout_Article .MC_Theme_Vanilla .MC_Heading_1,
    .MC_Link_Style_RichText h1,
    .MC_Theme_Vanilla .MC_Link_Style_RichText h1,
    .MC_Heading_1 {
        @include variables.heading-sm;
    }
}

.MC_Layout_Article .MC_Theme_Vanilla {
    .MC_Heading_1,
    .MC_Link_Style_RichText h1 {
        @include variables.heading-sm;
    }
}

/* large heading (theme based) */
@each $theme in variables.$themes {
    .#{$theme} .MC_Heading_1 {
        @include variables.heading-lg;
    }
}

@media screen and (max-width: 1199.98px) {
    @each $theme in variables.$themes {
        .#{$theme} .MC_Heading_1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}

/* =========================================
* Base Theme
* ====================================== */

@each $theme in variables.$vanilla-themes {
    .#{$theme} {
        font-family: variables.$font-vanilla;
    }
}

/* =========================================
* Article layout
* ====================================== */

.MC_articleHeroA_header_container > * {
    flex-basis: 100%;
}

.MC_articleHeroA_header_subheadline {
    margin-top: 8px;
}

.MC_AEM_Wrapper {
    position: relative;
    z-index: 20;
}

.MC_articleGridA {
    .MC_Link_Style_RichText {
        margin-top: 24px;
        word-break: break-word;
        word-wrap: break-word;
        color: #fff, inherit;
    }
}

.MC_articleGridA_sectionRef {
    width: 100%;
    height: 1px;
}

.MC_Bg_Inherit {
    color: #fff, #000;
}

/* =========================================
* RichText
* ====================================== */

.MC_Theme_Vanilla .MC_Link_Style_RichText {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: 400;
    }

    h1, h2, h3, h4 {
        font-family: variables.$font-vanilla !important;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: -.015em;
    }

    a {
        font-weight: 700;
        text-decoration: underline;
        color: variables.$link-color !important;

        &:hover {
            color: variables.$link-color !important;
        }

        &:not(.MC_Button, .MC_Link_Accent) {
            color: variables.$link-color !important;
        }
    }
}

@each $theme in (MC_Theme_Core, MC_Theme_Vanilla) {
    .#{$theme} a:not(.MC_Button, .MC_Link_Accent) {
        color: variables.$link-color !important;
        text-decoration: underline !important;
    }
}

.MC_Link_Style_RichText table {
    background-color: #262423;
    & tr{
        border-bottom: 1px solid #6b6562;
    }
}

/* =========================================
* Carousel
* ====================================== */

.MC_Carousel {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

    .MC_Carousel_thumbs_wrapper,
    .MC_Carousel_track_wrapper,
    .MC_Carousel_track_slide_media {
        position: relative;
    }
}

.MC_CarouselD {
    max-width: 1920px;
    padding: 48px 0 54px;

    .MC_Carousel_header {
        max-width: 1040px;
        margin: 0 auto 48px;
        padding: 0 10px;
        text-align: center;
    }

    .MC_Carousel_track {
        left: 50%;
        position: relative;
        width: max-content;
        transform-origin: center;
    }

    .MC_Carousel_track_slide {
        width: 280px;
        margin: 0 8px;
        opacity: .75;
        transition: opacity 1s;

        &__active {
            opacity: 1;
        }
    }

    .MC_Carousel_track_slide_media_img {
        width: 100%;
        display: block;
        aspect-ratio: 280 / 168;
    }
}

@media screen and (min-width: 768px) {
    .MC_CarouselD {
        padding: 80px 0 86px;

        .MC_Carousel_track_slide {
            width: 640px;
            margin: 0 12px;
        }

        .MC_Carousel_track_slide_media_img {
            aspect-ratio: 640 / 384;
        }
    }
}

.MC_Carousel_thumbs_slide,
.MC_Carousel_track_slide {
    flex: 0 0 auto;
}