@use '../../variables';

.MC_Core_HeadingStyle {
    .MC_Layout_Article .MC_Theme_Vanilla .MC_Heading_1,
    .MC_Link_Style_RichText h1,
    .MC_Theme_Vanilla .MC_Link_Style_RichText h1,
    .MC_Heading_1 {
        font-size: variables.$heading1-small;
        letter-spacing: -.54px;
        line-height: variables.$heading1-small;
    }
}

.MC_Layout_Article .MC_Theme_Vanilla {
    .MC_Heading_1,
    .MC_Link_Style_RichText h1 {
        font-size: variables.$heading1-small;
        letter-spacing: -.54px;
        line-height: variables.$heading1-small;
    }
}

@each $theme in variables.$themes {
    .MC_Theme_#{$theme} {
        &,
        &.MC_Theme_Vanilla {
            .MC_Heading_1 {
                font-size: variables.$heading1-large;
                letter-spacing: -.015em;
                line-height: variables.$heading1-large;
            }
        }
    }
}

@media screen and (max-width: variables.$break-lg) {
    @each $theme in variables.$themes {
        .MC_Theme_#{$theme} .MC_Heading_1 {
            font-size: variables.$heading1-large-md;
            line-height: variables.$heading1-large-md;
        }
    }
}

.MC_Theme_Vanilla,
.MC_Theme_Dungeons .MC_Theme_Vanilla,
.MC_Theme_Legends .MC_Theme_Vanilla,
.MC_Theme_Realms .MC_Theme_Vanilla {
    font-family: variables.$font-minecraft;
}

.MC_articleHeroA_header_container > * {
    flex-basis: 100%;
}

.MC_articleHeroA_header_subheadline {
    margin-top: 8px;
}

.MC_AEM_Wrapper {
    position: relative;
    z-index: 20;
}

.MC_articleGridA {
    .MC_Link_Style_RichText {
        margin-top: 24px;
        word-wrap: break-word;
        word-break: break-word;
        color: #fff, inherit;
    }

    &_sectionRef {
        height: 1px;
        width: 100%;
    }
}

.MC_Bg_Inherit {
    color: #fff, #000;
}

.MC_Theme_Vanilla {
    .MC_Link_Style_RichText {
        h1, h2, h3, h4, h5, h6 {
            font-weight: 400;
            margin: 0;
        }

        h1, h2, h3, h4 {
            font-family: variables.$font-minecraft !important;
        }

        h2 {
            font-size: 3.5rem;
            letter-spacing: -.015em;
            line-height: 3.5rem;
        }

        a {
            color: variables.$link-green, variables.$link-green-dark !important;
            font-weight: 700;
            text-decoration: underline;

            &:not(.MC_Button, .MC_Link_Accent) {
                color: variables.$link-green, variables.$link-green-dark !important;
            }

            &:hover {
                color: variables.$link-green, variables.$link-green-dark !important;
            }
        }
    }
}

.MC_Theme_Core,
.MC_Theme_Vanilla {
    a:not(.MC_Button, .MC_Link_Accent) {
        color: variables.$link-green, variables.$link-green-dark !important;
        text-decoration: underline !important;
    }
}

.MC_Layout_Article {
    .MC_CarouselD {
        padding: 16px 0 !important;
    }

    .MC_articleGridA .MC_Link_Style_RichText [style*=font-family] {
        font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
        font-size: 1rem !important;
    }

    .MC_Link_Style_RichText h2 {
        margin-top: 24px;
    }
}

@media screen and (min-width: variables.$break-md) {
    .MC_CarouselD {
        padding: 80px 0 86px;
    }
}

.MC_Carousel {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;

    &_thumbs_wrapper,
    &_track_wrapper,
    &_track_slide_media {
        position: relative;
    }
}

.MC_CarouselD {
    max-width: 1920px;
    padding: 48px 0 54px;

    .MC_Carousel_header {
        margin: 0 auto 48px;
        max-width: 1040px;
        padding: 0 10px;
        text-align: center;
    }

    .MC_Carousel_track {
        left: 50%;
        position: relative;
        transform-origin: center;
        width: max-content;
    }

    .MC_Carousel_track_slide_media_img {
        aspect-ratio: 280 / 168;
        width: 100%;
        display: block;
    }

    .MC_Carousel_track_slide {
        width: 280px;
        margin: 0 8px;
        opacity: .75;
        transition: opacity 1s;

        &__active {
            opacity: 1;
        }
    }
}

@media screen and (min-width: variables.$break-md) {
    .MC_CarouselD {
        .MC_Carousel_track_slide_media_img {
            aspect-ratio: 640 / 384;
        }

        .MC_Carousel_track_slide {
            width: 640px;
            margin: 0 12px;
        }
    }
}

.MC_Carousel_thumbs_slide,
.MC_Carousel_track_slide {
    flex: 0 0 auto;
}

@font-face {
    font-family: 'MinecraftSeven';
    src: url('https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/MinecraftSeven.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftSeven-v2';
    src: url('https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Seven_v2.woff2') format('woff2'),
        url('https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Seven_v2.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftTen';
    src: url('https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/MinecraftTen.woff') format('woff');
}

@font-face {
    font-family: 'MinecraftTenv2';
    src: url('https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Tenv2.woff2') format('woff2');
}
