.pSpNav[aria-hidden=true] {
    opacity: 0;
    visibility: hidden;
}

.pSpNav {
    background-color: #cce19b;
    border: 10px solid #fff;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .2s;
    z-index: 100;
}

.pSpNav__title {
    background-color: #acca64;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 15px;
    & .pSpNav__btnClose{
        float: right;
    }
}