$font-minecraft: "MinecraftTenv2","MinecraftTen","Noto Sans","Helvetica Neue","Helvetica","Arial","sans-serif";

$link-green: #6cc349;
$link-green-dark: #2a641c;

$heading1-small: 2.25rem;
$heading1-large: 4.5rem;
$heading1-large-md: 4rem;

$break-lg: 1199.98px;
$break-md: 768px;

$themes: Core, Dungeons, Legends, Marketplace, Realms, Vanilla;