/* fonts map */
$minecraft-fonts: (
    (
        name: "MinecraftSeven",
        src: (
            url("https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/MinecraftSeven.woff") format("woff")
        )
    ),
    (
        name: "MinecraftSeven-v2",
        src: (
            url("https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Seven_v2.woff2") format("woff2"),
            url("https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Seven_v2.woff") format("woff")
        )
    ),
    (
        name: "MinecraftTen",
        src: (
            url("https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/MinecraftTen.woff") format("woff")
        )
    ),
    (
        name: "MinecraftTenv2",
        src: (
            url("https://sakitibi.github.io/static.asakurawiki.com/fonts/minecraft/Minecraft-Tenv2.woff2") format("woff2")
        )
    )
);
