/* ヘッダー系統 */

.lHeader{
    background-position: 52% 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 150px, auto;
    overflow: hidden;
    padding: 15px 0 0;
}

.container, .containerFluid, .containerLg, .containerMd, .containerSm, .containerXl, .containerXxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}

.lHeader .row {
    margin-left: -5px;
    margin-right: -5px;
}

.alignItemsCenter {
    align-items: center !important;
}

.justifyContentBetween {
    justify-content: space-between !important;
}

.flexNowrap {
    flex-wrap: nowrap !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x) * -.5);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-top: calc(var(--bs-gutter-y) * -1);
}

.lHeader .row [class*="col^"], .lHeader .row [class^=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.offset3 {
    margin-left: 25%;
}

.col4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.row>* {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}

.lHeader__controls {
    padding: 0 0 0 5px;
}

.dBlock {
    display: block !important;
}

.cMobileControls {
    list-style: none;
    text-align: center;
    & a, & button {
        background-color: transparent;
        border: none;
        color: #fff;
        margin: 0;
        padding: 0;
    }
}

.col6 {
    flex: 0 0 auto;
    width: 50%;
}

.offset1 {
    margin-left: 8.33333333%;
}

.cMobileControls__icon {
    align-items: center;
    display: flex;
    height: 30px;
}

/* pEntry関連 */

.pEntry__header {
    margin-bottom: 25px;
    & .h1 {
        background-color: #eaeaea;
        background-image: url("https://wikiwiki.jp/pa/assets/84566d2e21c8bbef1c53.png");
        color: #6a6a6a;
        font-size: 20px;
        font-weight: 700;
        margin-top: 0;
        padding: 15px;
        text-align: center;
    }
}

.pEntry__content {
    color: #444;
    font-size: 13px;
    &>.h2 {
        background-color: #f6f6f6;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 20px;
        padding: 15px 10px;
    }
    &>.ol{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
        margin-bottom: 1rem;
        margin-top: 0;
        padding-left: 2rem;
        &>.ol{
            counter-reset: subsection;
            list-style-type: none;
            margin: 8px auto;
            &>.li::before{
                content: "(" counter(subsection) ") ";
                counter-increment: subsection;
                left: -40px;
                position: absolute;
                text-align: right;
                width: 38px;
            }
        }
    }
}