$bs-border-radius: 0.375rem;
$bs-list-group-border-radius: $bs-border-radius;
$bs-body-bg: #fff;
$bs-list-group-bg: $bs-body-bg;
$bs-border-width: 1px;
$bs-list-group-border-width: $bs-border-width;
$bs-border-color: #dee2e6;
$bs-list-group-border-color: $bs-border-color;
$bs-body-color: #212529;
$bs-list-group-color: $bs-body-color;
$bs-list-group-item-padding-y: 0.5rem;
$bs-list-group-item-padding-x: 1rem;

.listGroup {
    border-radius: $bs-list-group-border-radius;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
}

.listGroupItem:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.listGroupItem {
    background-color: $bs-list-group-bg;
    border: $bs-list-group-border-width solid $bs-list-group-border-color;
    color: $bs-list-group-color;
    display: block;
    padding: $bs-list-group-item-padding-y $bs-list-group-item-padding-x;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
}