/* @media関連 */

@media (max-width: 767px) {
    .fullWidthXs {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }
}

@media (min-width: 1300px) {
    .contentsWrapper{
        display: flex;
        flex-direction: column;
        min-height: '100vh';
    }
    .contents{
        display: flex;
        flex: 1
    }
}

@media (min-width: 991px){
    .col4{
        display: none;
    }
}

@media (min-width: 768px) {
    .container, .containerMd, .containerSm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container, .containerSm {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lHeader__controls {
        padding: 14px 0 0 20px;
    }
}

@media (min-width: 768px) {
    .colMd4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 992px) {
    .pFooterNav__item {
        font-size: 16px !important;
    }
}

@media (min-width: 992px) {
    .pLikedWiki__title,.pHotWiki__title,.pRecentWiki__title {
        font-size: 30px !important;
        padding: .25em 1em !important;
    }
}

@media (max-width: 1299px) {
    .lContents__aside{
        display: none !important;
    }
}