/* メニュー関連 */

.menu {
    display: flex;
    flex-direction: column; // メニュー項目が縦に並ぶように
    justify-content: flex-start;
    width: 350px;
    flex-shrink: 0;
    li::marker {
        content: none;
    }
}

.pSpNav[aria-hidden=true] {
    opacity: 0;
    visibility: hidden;
}

.pSpNav {
    background-color: #cce19b;
    border: 10px solid #fff;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .2s;
    z-index: 100;
}

.pSpNav__title {
    background-color: #acca64;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
    padding: 10px 15px;
    & .pSpNav__btnClose{
        float: right;
        cursor: pointer;
    }
}

.pSpNav__register {
    padding: 15px;
}

.col12 {
    flex: 0 0 auto;
    width: 100%;
}

.pSpNav__list {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.pSpNav__item {
    margin: 1px 0 0 !important;
    padding: 0 !important;
}

.pSpNav__item>a {
    background-color: #fff !important;
    color: #444 !important;
    display: block !important;
    font-size: 15px !important;
    padding: 15px !important;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}