.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-bottom: 20px;
}

.panelSuccess {
    border-color: #d6e9c6;
    &>.panelHeading {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }
}

.panelHeading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panelBody {
    padding: 15px;
}