/* pForBeginnerとpContact の共通mixin定義 */

@mixin pCommon($startColor, $endColor){
    // 画像とグラデーションを重ねて指定
    background-image: 
        url("https://sakitibi.github.io/AsakuraWiki-Images/dot_white.png"),
        linear-gradient(135deg, $startColor, $endColor);
    border-radius: 10px;
    padding: 18px;
}

@mixin pCommon__title($color){
    border-bottom: 1px solid $color;
    color: $color;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 14px;
    padding: 0 0 14px;
    text-align: center;
}

@mixin pCommon__item($color, $imgcolor){
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    color: $color !important;
    display: flex;
    font-size: 13px;
    justify-content: center;
    padding: 10px;
    text-decoration: none !important;

    &::before {
        margin-right: 10px;
        margin-left: -16px;
        display: inline-block;
        content: '';
        height: 12px;
        width: 6px;
        background-image: url("https://sakitibi.github.io/AsakuraWiki-Images/right_arrow_#{$imgcolor}.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.pContact__list,.pForBeginner__list { /* これは完全一致なのでmixinを使用しない */
    margin: 0;
    padding: 0;
    list-style: none !important;
}

.pContact__item,.pForBeginner__item { /* 1つ上と同じ理由 */
    margin: 0;
    padding: 0;
    &:not(:first-child) {
        margin-top: 10px;
    }
}