/* pForBeginner系統 */
@use 'pCommon';

.pForBeginner {
    @include pCommon.pCommon(
        #abf1b6
    );
    li::marker {
        content: none;
    }
}

.lContents__aside {
    margin: 25px 0 0 10px;
    padding: 0 15px;
    padding: 0 15px;
    height: 200px;
    float: right;
}

.childrenSpaced > * + * {
    margin-top: 25px;
}

.dNone {
    display: none !important;
}

.pForBeginner__title {
    @include pCommon.pCommon__title(#9f4548);
}

.pForBeginner__item {
    > a {
        @include pCommon.pCommon__item(#9f4548, "red");
    }
}