@use 'header';
@use 'menu';
@use 'pForBeginner';
@use 'media';

.pHotWiki__title{
    align-items: center;
    background-color: #cce19b;
    background-image: url("https://wikiwiki.jp/pa/assets/84566d2e21c8bbef1c53.png");
    color: #566b1c;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    padding: .5em 1em;
    text-align: center;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    &::before{
        background-image: url("https://yt3.googleusercontent.com/zGfLgzUwOf0wmsIi3yULulr3V3JonJxxP__Clwieqo1Dgdk2A9xgiWSIOCKMBcSvn1Qh5ku5BCU=s160-c-k-c0x00ffffff-no-rj");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 34px;
        margin-left: -70px;
        margin-right: 10px;
        width: 33px;
    }
}

.pRecentWiki__title{
    align-items: center;
    background-color: #cce19b;
    background-image: url("https://wikiwiki.jp/pa/assets/84566d2e21c8bbef1c53.png");
    color: #566b1c;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    padding: .5em 1em;
    text-align: center;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    &::before{
        background-image: url("https://yt3.googleusercontent.com/G9RoM7rcvv3yJm-EwgG_Pq5FoXx0ljCPF0jr-BbViEt1oKsTJ04SQ5FSlvZKPDKF_JPSdNH6=s160-c-k-c0x00ffffff-no-rj");
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 34px;
        margin-left: -70px;
        margin-right: 10px;
        width: 33px;
    }
}

.footer{
    text-align: center;
    background-color: aquamarine;
    clear: both;
    width: 100%;
}